.nav-items{
    position: relative;
}

.nav-items::after{
    content: '';
    position: absolute;
    height: 3px;
    width: 0%;
    background: linear-gradient(90deg , darkblue , lime);
    left: 0;
    bottom: -10px;
    transition: all .5s ease-in-out;
}

.nav-items:hover::after{
    width: 100%;
}